body{
  background-color: rgb(243, 233, 233);
}
h1{
  color: #c91d1d;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  border: #c91d1d; ;
}

h3{
  background-color:#c91d1d;
  color: white;
  font-weight: bold;
  font-size: 35px;
  /* text-align-last: center; */
  padding: 10px 20px;
  margin: 25px 800px 25px 5px;
}

img{
  width: 70%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
div{
  color: rgb(49, 47, 47);
  font-size: 25px;
  margin-top: 20px;
  margin-left: 10px;
}
