body{
  background-color: rgb(243, 233, 233);
}
h1{
  color: #c91d1d;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

h3{
  background-color:#c91d1d;
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align-last: center;
  padding: 8px;
  margin: 25px 150px;
}

img{
  width: 80%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
div{
  color: rgb(49, 47, 47);
  text-align: center;
  font-size: 25px;
}
